/* GENERAL */
:root {
  --color-primary: #0061ff;
  --color-primary-transparent: rgba(0, 97, 255, 0.7);
  --color-secondary: #b4d0e7;
  --color-tertiary: #d0d0d3;
  --text-color-primary: #000000;
  --text-color-secondary: #ffffff;
  --text-color-tertiary: #999999;

  --font: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* UTILITIES */
.container-large {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.container-small {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
}

.text-xl {
  font-size: 5rem;
  font-weight: 800;
}

.text-l {
  font-size: 2.5rem;
}

.text-m {
  font-size: 1.5rem;
}

.text-base {
  font-size: 1rem;
  font-weight: 500;
}

.text-s {
  font-size: 0.9rem;
  font-weight: 500;
}

.margin-bottom-xl {
  margin-bottom: 70px;
}

.margin-bottom-l {
  margin-bottom: 55px;
}

.margin-bottom-s {
  margin-bottom: 30px;
}

.margin-bottom-xs {
  margin-bottom: 20px;
}

/* HEADER */
header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--text-color-secondary);
  z-index: 999;
}

nav {
  height: calc(100% + 3px);
}

nav .header-menu {
  display: flex;
  align-items: center;
  height: 100%;
}

nav .header-menu #logo-small {
  height: 25px;
  transform: translateY(3px);
  /* Nota: per centrare logo in verticale con altri li del menu che, per avere bordo inferiore in hover devono essere alti 100%+ + 3px */
}

nav .header-menu li {
  padding: 0 20px;
  line-height: 83px;
}

nav .header-menu li a:not(.btn-small) {
  display: inline-block;
  height: 100%;
  border-bottom: 3px solid transparent;
}

nav .header-menu li a:hover {
  border-bottom-color: var(--color-primary);
}

/* HERO  */
main {
  margin-top: 80px;
}

.hero {
  background-color: var(--color-secondary);
  padding-top: 20px;
  position: relative;
}

.hero .container-large {
  transform: translateY(80px);
}

.hero-box {
  display: flex;
}

.hero-box .hero-textbox {
  width: 30%;
}

.hero-box a {
  display: inline-block;
}

.hero-box .hero-textbox i {
  font-size: 3rem;
  position: absolute;
  bottom: 80px;
}

.hero-box .hero-img {
  width: 70%;
  object-fit: contain;
}

/* MAIN - BUSINESS PLAN SECTION */
#business-plan .container-small {
  padding-top: 160px;
}

#business-plan .billing-plan {
  display: flex;
}

.radio-button {
  margin-right: 40px;
}

.radio-button::before {
  display: inline-block;
  content: "";
  outline: 2px solid var(--color-tertiary);
  border-radius: 50%;
  height: 15px;
  width: 15px;
  vertical-align: middle;
  margin-right: 8px;
}

.radio-button.checked::before {
  outline: 5px solid var(--color-primary);
  outline-offset: -2.5px;
}

.business-plan-grid {
  display: flex;
  justify-content: space-between;
}

.business-plan-card {
  border: 1px solid var(--color-tertiary);
  width: calc(100% / 3);
  margin-bottom: 50px;
}

.business-plan-grid .business-plan-card:not(:last-child) {
  margin-right: 50px;
}

.business-plan-card .card-top {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--color-tertiary);
}

.business-plan-card .card-middle,
.business-plan-card .card-bottom {
  padding: 35px 30px;
}

.card-middle .bp-cost {
  color: var(--text-color-tertiary);
  font-weight: 600;
}

.card-middle li,
.card-bottom li {
  display: flex;
  align-items: first baseline;
  padding-top: 25px;
}

.card-middle li i,
.card-bottom li i {
  padding-right: 8px;
}

.card-bottom li i {
  color: var(--color-primary);
  font-weight: 800;
}

.card-middle .buy-now {
  margin-top: 30px;
}

.buy-now .visited {
  text-decoration: underline;
  color: #551a8b;
}

.card-bottom {
  position: relative;
}

.card-bottom::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 50px;
  top: 0;
  border-bottom: 1px solid var(--color-tertiary);
}

.card-middle .btn {
  text-align: center;
}

.business-plan-card.card-large {
  border: 1px solid var(--color-tertiary);
  width: 100%;
  margin-bottom: 0;
}

.card-large .card-middle {
  display: flex;
  justify-content: space-between;
}

.card-large .card-large-left {
  width: 70%;
}

.card-large .card-large-right {
  width: 25%;
}

.card-large .card-large-right {
  height: fit-content;
}

/* MAIN - PARTNER SECTION */
#find-partner .container-small {
  padding-top: 150px;
  display: flex;
}

.find-partner-imagebox {
  width: 60%;
}

.find-partner-textbox {
  width: 40%;
  padding: 0 50px;
}

.find-partner-textbox a {
  display: inline-block;
}

.find-partner-imagebox img {
  object-fit: cover;
  width: 100%;
}

/* MAIN - BUSINESS SECTION */
#dropbox-business {
  padding-top: 150px;
}

#dropbox-business .features-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features-grid .feature-card {
  width: 28%;
  min-width: 300px;
  margin-top: 70px;
  aspect-ratio: 16 / 9;
}

.features-grid .feature-card img {
  width: 100%;
}

/* BUTTON */
.btn {
  background-color: var(--color-primary);
  color: var(--text-color-secondary);
  padding: 15px;
}

.btn-small {
  padding: 10px;
}

.btn-white {
  background-color: var(--text-color-secondary);
  color: inherit;
  border: 1px solid var(--text-color-primary);
}

.btn:hover {
  background-color: var(--color-primary-transparent);
}
