/* GENERAL */
:root {
  --color-primary: #0061ff;
  --color-primary-transparent: rgba(0, 97, 255, 0.7);
  --color-secondary: #b4d0e7;
  --text-color-primary: #000000;
  --text-color-secondary: #ffffff;
  --text-color-tertiary: #999999;

  --font: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
}

/* UTILITIES */
.container-large {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.text-xl {
  /* h1 */
  font-size: 4rem;
  font-weight: 800;
}

.text-l {
  /* h2 */
  font-size: 2rem;
}

.text-m {
  /* h3 */
  font-size: 1.5rem;
}

.text-base {
  font-size: 0.8rem;
  font-weight: 600;
}

.margin-bottom-xl {
  margin-bottom: 70px;
}

.margin-bottom-l {
  margin-bottom: 55px;
}

.margin-bottom-s {
  margin-bottom: 30px;
}

/* HEADER */
header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--text-color-secondary);
  z-index: 999;
}

nav {
  height: calc(100% + 3px);
}

nav .header-menu {
  display: flex;
  align-items: center;
  height: 100%;
}

nav .header-menu #logo-small {
  height: 20px;
  transform: translateY(3px);
  /* Nota: per centrare logo in verticale con altri li del menu che, per avere bordo inferiore in hover devono essere alti 100%+ + 3px */
}

nav .header-menu li {
  padding: 0 15px;
  line-height: 83px;
}

nav .header-menu li a:not(.btn) {
  display: inline-block;
  height: 100%;
  border-bottom: 3px solid transparent;
}

nav .header-menu li a:hover {
  border-bottom-color: var(--color-primary);
}

/* HERO  */
main {
  margin-top: 80px;
}

.hero {
  background-color: var(--color-secondary);
  padding-top: 100px;
}

.hero-box {
  display: flex;
  position: relative;
}

.hero-box .hero-textbox {
  width: 30%;
}

.hero-box .hero-textbox i {
  font-size: 3rem;
}

.hero-box .hero-img {
  width: 60%;
  object-fit: cover;
}

/* MAIN - BUSINESS PLAN SECTION */
#business-plan {
}

/* BUTTON */
.btn {
  background: var(--color-primary);
  color: var(--text-color-secondary);
  padding: 6px 12px;
}

.btn:hover {
  background-color: var(--color-primary-transparent);
}
