/* GENERAL */
:root {
  --color-primary: #0061ff;
  --color-primary-transparent: rgba(0, 97, 255, 0.7);
  --color-secondary: #b4d0e7;
  --color-tertiary: #d0d0d3;
  --color-quaternary: #61082b;
  --text-color-primary: #000000;
  --text-color-secondary: #ffffff;
  --text-color-tertiary: #999999;

  --font: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* UTILITIES */
.container-large {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.container-small {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
}

.text-xl {
  font-size: 5rem;
  font-weight: 800;
}

.text-l {
  font-size: 2.5rem;
}

.text-m {
  font-size: 1.5rem;
}

.text-base {
  font-size: 1rem;
  font-weight: 500;
}

.text-s {
  font-size: 0.9rem;
  font-weight: 500;
}

.margin-bottom-xl {
  margin-bottom: 70px;
}

.margin-bottom-l {
  margin-bottom: 55px;
}

.margin-bottom-s {
  margin-bottom: 30px;
}

.margin-bottom-xs {
  margin-bottom: 20px;
}

/* HEADER */
header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--text-color-secondary);
  z-index: 999;
}

nav {
  height: calc(100% + 3px);
}

nav .header-menu {
  display: flex;
  align-items: center;
  height: 100%;
}

nav .header-menu #logo-small {
  height: 25px;
  transform: translateY(3px);
  /* Nota: per centrare logo in verticale con altri li del menu che, per avere bordo inferiore in hover devono essere alti 100%+ + 3px */
}

nav .header-menu li {
  padding: 0 20px;
  line-height: 83px;
}

nav .header-menu li a:not(.btn-small) {
  display: inline-block;
  height: 100%;
  border-bottom: 3px solid transparent;
}

nav .header-menu li a:hover {
  border-bottom-color: var(--color-primary);
}

/* HERO  */
main {
  margin-top: 80px;
}

.hero {
  background-color: var(--color-secondary);
  padding-top: 20px;
  position: relative;
}

.hero .container-large {
  transform: translateY(80px);
}

.hero-box {
  display: flex;
}

.hero-box .hero-textbox {
  width: 30%;
}

.hero-box a {
  display: inline-block;
}

.hero-box .hero-textbox i {
  font-size: 3rem;
  position: absolute;
  bottom: 80px;
}

.hero-box .hero-img {
  width: 70%;
  object-fit: contain;
}

/* MAIN - BUSINESS PLAN SECTION */
#business-plan .container-small {
  padding-top: 160px;
}

#business-plan .billing-plan {
  display: flex;
}

.radio-button {
  margin-right: 40px;
}

.radio-button::before {
  display: inline-block;
  content: "";
  outline: 2px solid var(--color-tertiary);
  border-radius: 50%;
  height: 15px;
  width: 15px;
  vertical-align: middle;
  margin-right: 8px;
}

.radio-button.checked::before {
  outline: 5px solid var(--color-primary);
  outline-offset: -2.5px;
}

.business-plan-grid {
  display: flex;
  justify-content: space-between;
}

.business-plan-card {
  border: 1px solid var(--color-tertiary);
  width: calc(100% / 3);
  margin-bottom: 50px;
}

.business-plan-grid .business-plan-card:not(:last-child) {
  margin-right: 50px;
}

.business-plan-card .card-top {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--color-tertiary);
}

.business-plan-card .card-middle,
.business-plan-card .card-bottom {
  padding: 35px 30px;
}

.card-middle .bp-cost {
  color: var(--text-color-tertiary);
  font-weight: 600;
}

.card-middle li,
.card-bottom li {
  display: flex;
  align-items: first baseline;
  padding-top: 25px;
}

.card-middle li i,
.card-bottom li i {
  padding-right: 8px;
}

.card-bottom li i {
  color: var(--color-primary);
  font-weight: 800;
}

.card-middle .buy-now {
  margin-top: 30px;
}

.card-bottom {
  position: relative;
}

.card-bottom::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 50px;
  top: 0;
  border-bottom: 1px solid var(--color-tertiary);
}

.card-middle .btn {
  text-align: center;
}

.business-plan-card.card-large {
  border: 1px solid var(--color-tertiary);
  width: 100%;
  margin-bottom: 0;
}

.card-large .card-middle {
  display: flex;
  justify-content: space-between;
}

.card-large .card-large-left {
  width: 70%;
}

.card-large .card-large-right {
  width: 25%;
}

.card-large .card-large-right {
  height: fit-content;
}

/* MAIN - PARTNER SECTION */
#find-partner .container-small {
  padding-top: 150px;
  display: flex;
}

.find-partner-imagebox {
  width: 60%;
}

.find-partner-textbox {
  width: 40%;
  padding: 0 50px;
}

.find-partner-textbox a {
  display: inline-block;
}

.find-partner-imagebox img {
  object-fit: cover;
  width: 100%;
}

/* MAIN - BUSINESS SECTION */
#dropbox-business {
  padding-top: 150px;
}

#dropbox-business .features-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features-grid .feature-card {
  width: 28%;
  min-width: 300px;
  margin-top: 70px;
  aspect-ratio: 16 / 9;
}

.features-grid .feature-card img {
  width: 100%;
}

/* MAIN - DROPBOX CLIENTS */
#dropbox-clients {
  margin-top: 200px;
  margin-bottom: 150px;
}

#dropbox-clients h2 {
  width: 60%;
}

/* MAIN - DROPBOX CLIENTS LOGOS */
#dropbox-clients-logos .logos-grid {
  display: flex;
}

.logos-grid .logos-square-big {
  width: calc(100vw / 3);
  aspect-ratio: 1 / 1;
  display: flex;
  flex-wrap: wrap;
  background-color: #f5f5f5;
}

.logos-square-big .logos-square-item {
  width: 50%;
  position: relative;
}

.logos-square-item img {
  width: 50%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: brightness(0) invert(1);
}

.logos-square-item:hover {
  outline: 15px solid rgba(255, 255, 255, 0.4);
  outline-offset: -15px;
}

#central-text {
  overflow: auto;
  padding: 50px;
}

#central-text.logos-square-big {
  display: block;
}

#central-text .imgbox {
  width: 100%;
  padding-bottom: 50px;
}

#central-text .textbox {
  position: relative;
}

#central-text .textbox p::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 90px;
  top: -25px;
  border-bottom: 1px solid var(--color-tertiary);
}

#central-text .imgbox img {
  width: 60%;
  height: auto;
}

.logos-square-item.green-bg {
  background-color: #a2d39b;
}

.logos-square-item.bordeaux-bg {
  background-color: #61082b;
}

.logos-square-item.azure-bg {
  background-color: #0093ce;
}

.logos-square-item.red-bg {
  background-color: #ff1c1c;
}

.logos-square-item.darkred-bg {
  background-color: #d5001f;
}

.logos-square-item.light-blue-bg {
  background-color: var(--color-secondary);
}

.logos-square-item.blue-bg {
  background-color: #0d2481;
}

.logos-square-item.yellow-bg {
  background-color: #ffd830;
}

/* MAIN - FREE TRIAL */
#free-trial {
  background-color: var(--color-secondary);
}

#free-trial .container-small {
  display: flex;
  align-items: first baseline;
  justify-content: space-between;
  padding: 135px 0;
}

#free-trial h2 {
  color: var(--color-quaternary);
  width: 50%;
}

#free-trial .container-small .btn-container {
  width: 30%;
}

#free-trial .btn-container .btn-white {
  border: none;
  padding: 15px 45px;
}

/* FAQ */
#faq {
  padding: 160px 0;
}

.faq-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0;
  border-top: 1px solid var(--text-color-tertiary);
}

.faq-row .question {
  font-weight: 700;
}

.faq-row:nth-last-child(2) {
  border-bottom: 1px solid var(--text-color-tertiary);
}

.faq-row i {
  padding-right: 50px;
}

.answer {
  display: none;
  padding: 20px 0;
}

.faq-row:hover + .answer {
  display: block;
}

/* FOOTER */
footer {
  background-color: var(--text-color-primary);
  color: var(--text-color-secondary);
}

.upper-footer {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}

.upper-footer li {
  padding-bottom: 15px;
}

.lower-footer {
  color: var(--text-color-tertiary);
  padding: 50px 0;
  position: relative;
  display: flex;
  align-items: center;
}

.lower-footer i,
.lower-footer div {
  padding-right: 5px;
}

footer .lower-footer::before {
  content: "";
  position: absolute;
  top: 0;
  height: 1px;
  width: 90px;
  border-bottom: 1px solid var(--color-tertiary);
}

/* BUTTON */
.btn {
  background-color: var(--color-primary);
  color: var(--text-color-secondary);
  padding: 15px;
}

.btn-small {
  padding: 10px;
}

.btn-white {
  background-color: var(--text-color-secondary);
  color: inherit;
  border: 1px solid var(--text-color-primary);
}

.btn:hover {
  background-color: var(--color-primary-transparent);
}

.visited {
  text-decoration: underline;
  color: #551a8b;
}
